<?xml version="1.0"?>
<launch> 
	
		<param name="use_sim_time" value="false"/>

		<arg name="map_file" value="$(find cartographer_gmapping)/maps/gmapping/diff_world_obstacles_map.yaml"/>


  		<node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"> 
  		</node> 

<!-- 
  		<node name="rviz" pkg="rviz" type="rviz" args = "-d $(find cartographer_gmapping)/rviz/map.rviz">
      </node> -->
</launch>